@import url('https://fonts.googleapis.com/css?family=Gurajada');

.navbar-dark {
  background-color: #513ADB;
  color: #D3DDF0;
}

.navbar-brand {
  font-family: 'Gurajada';
  font-size: 300%;
  text-transform: lowercase;
}

.nav-item {
  font-family: 'Hiragino Sans';
  font-weight: 700;
  font-size: 80%;
  text-transform: uppercase;
  padding: 0px 15px;
}